{% extends "layouts/base.html" %}
{% block content %}
  <section class="budget-summary">
    <div class="container">
      <div class="row">
        <h1>{{ title }}</h1>
        <button class="btn btn--primary">+ Add New Budget</button>
      </div>
      <div class="card">
        <div class="budgets-container">
          <div class="chart">
            <canvas id="budget-chart"></canvas>
            <p>
              <span class="large-text">$338</span>
              of $975 limit
            </p>
          </div>
          <div class="spending-summary">
            <h2>Spending Summary</h2>
            <div class="budget-container">
              <div
                class="budget row budget-1"
                data-tag="green"
              >
                <h3>Entertainment</h3>
                <p>
                  $25.00
                  <span class="light-text">of $50.00</span>
                </p>
              </div>
              <div class="divider"></div>
              <div
                class="budget row budget-2"
                data-tag="cyan"
              >
                <h3>Bills</h3>
                <p>
                  $250.00
                  <span class="light-text">of $750.00</span>
                </p>
              </div>
              <div class="divider"></div>
              <div
                class="budget row budget-3"
                data-tag="yellow"
              >
                <h3>Dining Out</h3>
                <p>
                  $67.00
                  <span class="light-text">of $75.00</span>
                </p>
              </div>
              <div class="divider"></div>
              <div
                class="budget row budget-4"
                data-tag="navy"
              >
                <h3>Personal Care</h3>
                <p>
                  $65.00
                  <span class="light-text">of $100.00</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="budget-cards">
    <div class="container">
      {% for budget in data.budgets %}
        <div class="card">
          <div class="card__title-row">
            <div class="row">
              <div
                class="budget-color"
                style="background-color:{{ budget.theme }};"
              ></div>
              <h2 class="section-title">{{ budget.category }}</h2>
            </div>
            <button class="btn--tertiary">
              {% include "svgs/icon-ellipsis.svg" %}
            </button>
          </div>
          <p class="light-text">Maximum of {{ budget.maximum | amount }}</p>
          <!-- TODO: set/calculate spending amount -->
          <div class="budget__bar">
            <div
              class="budget__bar__spent"
              style="width: {{ 100 * (25 / budget.maximum | int) }}%; background-color:{{ budget.theme }};"
            ></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Add/Edit budget start -->

  Add New Budget Choose a category to set a spending budget. These categories
  can help you monitor spending. Edit Budget As your budgets change, feel free
  to update your spending limits. Budget Category Entertainment Bills Groceries
  Dining Out Transportation Personal Care Education Lifestyle Shopping General
  Maximum Spend Theme Green Yellow Cyan Navy Red Purple Turquoise Brown Magenta
  Blue Navy Grey Army Green Pink Gold Orange Add Budget / Save Changes

  <!-- Add/Edit budget end -->

  <!-- Delete budget start -->

  Delete '
  <!-- budget name -->
  ' Are you sure you want to delete this budget? This action cannot be reversed,
  and all the data inside it will be removed forever. Yes, Confirm Deletion No,
  Go Back

  <!-- Delete budget end -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script defer>
    const ctx = document.getElementById("budget-chart");

    const data = {
      labels: ["Entertainment", "Bills", "Dining Out", "Personal Care"],
      datasets: [
        {
          data: [50, 750, 75, 100],
          backgroundColor: ["#277c78", "#82c9d7", "#f2cdac", "#626070"],
          hoverOffset: 4,
        },
      ],
    };

    const config = {
      type: "doughnut",
      data: data,
      options: {
        cutout: "65%",
        plugins: {
          legend: {
            display: false,
          },
        },
      },
    };

    new Chart(ctx, config);
  </script>
{% endblock %}
