{% extends "layouts/base.html" %}
{% block content %}
  <section class="title-row">
    <div class="container row">
      <h1>{{ title }}</h1>
      <button class="btn btn--primary">+ Add New Budget</button>
    </div>
  </section>

  <section class="pots-cards">
    <div class="container">
      {% for pot in data.pots %}
        <div class="card">
          <div class="card__title-row">
            <div class="row">
              <div
                class="budget-color"
                style="background-color:{{ pot.theme }};"
              ></div>
              <h2 class="section-title">{{ pot.name }}</h2>
            </div>
            <button class="btn--tertiary">
              {% include "svgs/icon-ellipsis.svg" %}
            </button>
          </div>
          <div class="row">
            <p class="light-text">Total Saved</p>
            <p class="large-text">${{ pot.total | amountWithDecimals(2) }}</p>
          </div>
          <div>
            <div class="pot__bar">
              <div
                class="pot__bar__saved"
                style="width: {{ 100 * (pot.total | int / pot.target | int) }}%; background-color:{{ pot.theme }};"
              ></div>
            </div>
            <div class="row">
              <p class="percentage">
                {{ (100 * (pot.total | int / pot.target | int)) | amountWithDecimals(1) }}%
              </p>
              <p class="light-text">Target of {{ pot.target | amount }}</p>
            </div>
          </div>
          <div class="pots__buttons row">
            <button class="btn btn--secondary">+ Add Money</button>
            <button class="btn btn--secondary">Withdraw</button>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
<!-- 

  Overview
  Transactions
  Budgets
  Pots
  Recurring Bills

  Minimize Menu

  Pots

  Add New Pot -->

<!-- Add pots data -->

<!-- Add/Edit pot start -->

<!-- Add New Pot
  Create a pot to set savings targets. These can help keep you on track as you save for special purchases.

  Edit Pot
  If your saving targets change, feel free to update your pots.
  
  Pot Name
  
  Target
  
  Theme
  Green
  Yellow
  Cyan
  Navy
  Red 
  Purple
  Turquoise
  Brown
  Magenta
  Blue
  Navy Grey
  Army Green
  Pink
  Gold
  Orange 

  Add Pot / Save Changes-->

<!-- Add/Edit budget end -->

<!-- Delete pot start 

  Delete '-->
<!-- Pot name -->
'

<!-- Are you sure you want to delete this pot? This action cannot be reversed, and all the data inside it will be removed forever.

  Yes, Confirm Deletion
  No, Go Back -->

<!-- Delete pot end -->

<!-- Add to pot start -->

Add to '
<!-- Pot name -->
'

<!-- Add money to your pot to keep it separate from your main balance. As soon as you add this money, it will be deducted from your current balance.

  New Amount 
  Target of -->
<!-- pot target -->

<!-- Amount to Add

  Confirm Addition -->

<!-- Add to pot end -->

<!-- Withdraw from pot start -->

<!--Withdraw from '-->
<!-- pot name -->
<!--'-->

<!-- Withdraw from your pot to put money back in your main balance. This will reduce the amount you have in this pot.

  New Amount -->
<!--Target of -->
<!-- pot target -->
<!-- 
  Amount to Withdraw

  Confirm Withdrawal -->
