{% extends "layouts/base.html" %}
{% block content %}
  <section class="transactions">
    <div class="container">
      <h1>{{ title }}</h1>
      <div class="card">
        <div class="input-row">
          <div class="search-bar">
            <input
              type="search"
              placeholder="Search transaction"
              id="transaction-search"
            />
            {% include "svgs/icon-search.svg" %}
          </div>
          <div class="dropdown-container">
            <p class="dropdown__label">Sort by</p>
            <div class="dropdown">
              <button class="dropdown__btn">
                <span>Latest</span>
                {% include "svgs/icon-caret-down.svg" %}
                <div class="mobile-icon">
                  {% include "svgs/icon-sort-mobile.svg" %}
                </div>
              </button>
              <div class="dropdown__menu">
                <div class="dropdown__option selected">Latest</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Oldest</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">A to Z</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Z to A</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Highest</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Lowest</div>
              </div>
            </div>
          </div>

          <div class="dropdown-container">
            <p class="dropdown__label">Category</p>
            <div class="dropdown">
              <button class="dropdown__btn">
                <span>All Transactions</span>
                {% include "svgs/icon-caret-down.svg" %}
                <div class="mobile-icon">
                  {% include "svgs/icon-filter-mobile.svg" %}
                </div>
              </button>
              <div class="dropdown__menu">
                <div class="dropdown__option selected">All Transactions</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Entertainment</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Bills</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Groceries</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Dining Out</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Transportation</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Personal Care</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Education</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Lifestyle</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">Shopping</div>
                <div class="dropdown__divider"></div>
                <div class="dropdown__option">General</div>
              </div>
            </div>
          </div>
        </div>

        <ul class="transaction-list">
          <li class="transaction-list__headers transaction-list__item">
            <p class="transaction-list__header">Recipient / Sender</p>
            <p class="transaction-list__header">Category</p>
            <p class="transaction-list__header">Date</p>
            <p class="transaction-list__header">Amount</p>
          </li>
          <li class="transaction-list__divider first-divider"></li>
          {% for transaction in collections.transactions.slice(0, 10) %}
            <li class="transaction-list__item">
              <div class="transaction-list__image-and-title">
                <div class="transaction-list__image">
                  <img
                    src="{{ '../' + transaction.avatar | url }}"
                    alt="{{ transaction.name }} avatar"
                  />
                </div>
                <div class="text">
                  <p class="transaction-list__description">
                    {{ transaction.name }}
                  </p>
                  <p class="transaction-list__category">
                    {{ transaction.category }}
                  </p>
                </div>
              </div>
              <p class="transaction-list__category">
                {{ transaction.category }}
              </p>
              <p class="transaction-list__date date">
                {{ transaction.date | readableDate }}
              </p>
              <div class="transaction-list__value-and-date">
                <p
                  class="value {% if transaction.amount > 0 %}positive{% endif %}"
                >
                  {{ transaction.amount | amount }}
                </p>
                <p class="date">{{ transaction.date | readableDate }}</p>
              </div>
            </li>
            {% if not loop.last %}
              <li class="transaction-list__divider"></li>
            {% endif %}
          {% endfor %}
        </ul>
        <!-- TODO: #1 make pagination functional -->
        <!-- TODO: #2 make page buttons truncate on mobile -->
        <div class="page-buttons-container">
          <button
            id="previous"
            class="btn btn--pagination"
          >
            {% include "svgs/icon-caret-left.svg" %} Prev
          </button>
          <div class="page-buttons">
            {% set pageCount = collections.transactions.length/10 %}
            {% for i in range(0, pageCount|round) %}
              <button
                class="btn btn--pagination {% if i===0 %}active{% endif %}"
              >
                {{ i+1 }}
              </button>
            {% endfor %}
          </div>
          <button
            id="next"
            class="btn btn--pagination"
          >
            Next {% include "svgs/icon-caret-right.svg" %}
          </button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
