@use "fonts";
@use "variables";

.budget-summary {
  .card {
    margin: var(--spacing-xxl) 0 var(--spacing-lg);
  }
  .spending-summary {
    h2 {
      margin-bottom: 1.25em;
    }
  }
  .budget-container {
    grid-template-columns: 1fr;
  }

  .budget {
    flex-direction: row;
    .light-text {
      padding-left: 0.5em;
    }
  }
}

.budget-cards > .container > .card,
.pots-cards > .container > .card {
  row-gap: var(--spacing-lg);
}

.budget-cards,
.pots-cards {
  .container {
    display: grid;
    gap: var(--spacing-lg);
  }
  .budget-color {
    border-radius: 100vh;
    flex-shrink: 0;
    height: var(--spacing-md);
    margin-right: var(--spacing-md);
    width: var(--spacing-md);
  }

  .budget__bar {
    background-color: variables.$biege-100;
    border-radius: var(--spacing-xxs);
    height: var(--spacing-xxl);
    margin: calc(-1 * var(--spacing-xxs)) 0;
    position: relative;

    &__spent {
      border-radius: var(--spacing-xxs);
      position: absolute;
      top: var(--spacing-xxs);
      left: var(--spacing-xxs);
      bottom: var(--spacing-xxs);
    }
  }

  .budget__spent-remaining {
    justify-content: flex-start;

    & > * {
      flex: 1;
    }
  }

  .budget__transactions {
    background-color: variables.$biege-100;
    padding: var(--spacing-md);
    h3 {
      @include fonts.textpreset3;
    }

    .transaction-list__image {
      display: none;
    }

    .divider {
      background-color: variables.$grey-500;
      opacity: 0.15;
    }
  }
}

@media (min-width: 48rem) {
  .budget-cards {
    .budget__transactions {
      .transaction-list__image {
        display: block;
      }
    }
  }
}

@media (min-width: 64rem) {
  main#budgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xxl) var(--spacing-lg);

    .title-row {
      grid-column: 1 / -1;
    }

    .budget-summary {
      .card {
        margin: 0;
      }

      .budgets-container {
        align-items: stretch;
        flex-direction: column;
        gap: var(--spacing-xxl);
      }
    }
  }
}
