.budget-summary {
  .spending-summary {
    h2 {
      margin-bottom: 1.25em;
    }
  }
  .budget-container {
    grid-template-columns: 1fr;
  }

  .budget {
    flex-direction: row;
    .light-text {
      padding-left: 0.5em;
    }
  }
}

.budget-card {
  .budget-color {
    border-radius: 100vh;
    flex-shrink: 0;
    height: var(--spacing-md);
    margin-right: var(--spacing-md);
    width: var(--spacing-md);
  }
}
