@use "variables";

.budget-summary {
  .spending-summary {
    h2 {
      margin-bottom: 1.25em;
    }
  }
  .budget-container {
    grid-template-columns: 1fr;
  }

  .budget {
    flex-direction: row;
    .light-text {
      padding-left: 0.5em;
    }
  }
}

.budget-cards {
  .budget-color {
    border-radius: 100vh;
    flex-shrink: 0;
    height: var(--spacing-md);
    margin-right: var(--spacing-md);
    width: var(--spacing-md);
  }

  .budget__bar {
    background-color: variables.$biege-100;
    border-radius: var(--spacing-xxs);
    height: var(--spacing-xxl);
    position: relative;

    &__spent {
      border-radius: var(--spacing-xxs);
      position: absolute;
      top: var(--spacing-xxs);
      left: var(--spacing-xxs);
      bottom: var(--spacing-xxs);
    }
  }
}
