@use "fonts";
@use "variables";

.bills-list {
  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: var(--spacing-xs);
  }

  &__date,
  &__value-and-date {
    grid-row: 2;
  }

  &__value-and-date,
  .right-align {
    justify-self: end;
  }
}

.bills-card {
  gap: var(--spacing-xl);
}

.summary-cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.bills-list__headers,
.bills-list__divider.first-divider {
  display: none;
}

.bills-list__date {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
  .paid-icon,
  .due-soon-icon {
    display: none;
  }
  &.red {
    .due-soon-icon {
      display: block;
    }
  }
  &.green {
    color: variables.$green;
    .paid-icon {
      display: block;
    }
  }

  p {
    @include fonts.textpreset5;
  }
}

.bills-list__date.red + .bills-list__value-and-date {
  color: variables.$red;
}

// TODO: align headers with content
// TODO: style due dates

@media (min-width: 48rem) {
  .bills-list__headers,
  .bills-list__divider.first-divider {
    display: grid;
  }
  .summary-cards {
    flex-direction: row;
    grid-column: 1 / -1;
  }

  .bills-list {
    &__item {
      gap: var(--spacing-xxl);
      grid-template-columns: 4fr 1fr 2fr;
      justify-items: start;
    }

    &__date,
    &__value-and-date {
      grid-row: 1;
    }

    &__date {
      justify-content: space-between;
      justify-self: stretch;
    }

    &__image-and-title {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .recurring-bills .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .bills-card {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: 64rem) {
  .recurring-bills .card-container {
    grid-template-columns: 1fr 2fr;
    .summary-cards {
      justify-content: flex-start;
      flex-direction: column;
      grid-column: 1 / 1;

      & > * {
        flex-grow: 0;
      }
    }
    .bills-card {
      grid-column: 2 / span 1;
      grid-row: 1;
    }
  }
}
