@use "fonts";
@use "sass:map";
@use "variables";

input,
select {
  @include fonts.textpreset4;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-xs);
  color: var(--text-color);
  padding: var(--spacing-sm) var(--spacing-lg);
}

select {
  appearance: none;
  background-image: url("../assets/images/icon-caret-down.svg");
  background-repeat: no-repeat;
  background-position: right var(--spacing-lg) center;
  background-size: 16px;
  cursor: pointer;
  padding-right: calc(2 * var(--spacing-lg));
}

.input-group {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
}

.transactions {
  h1 {
    margin-bottom: var(--spacing-xxl);
  }

  .card {
    gap: var(--spacing-xl);
  }

  .transaction-list__item > .transaction-list__category,
  .transaction-list__item > .transaction-list__date,
  .transaction-list__headers,
  .transaction-list__divider.first-divider {
    display: none;
  }

  .transaction-list__category {
    font-weight: 400;
  }

  .transaction-list__image-and-title {
    .text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }

  .input-row {
    align-items: center;
    display: flex;
    gap: var(--spacing-xl);
    justify-content: space-between;

    #transaction-search {
      flex: 1;
    }
  }
}

@media (min-width: 48rem) {
  .transactions {
    .transaction-list__item > .transaction-list__category,
    .transaction-list__item > .transaction-list__date,
    .transaction-list__headers,
    .transaction-list__divider.first-divider {
      display: flex;
    }

    .transaction-list__image-and-title {
      flex: 1;
      .transaction-list__category {
        display: none;
      }
    }

    .transaction-list__value-and-date {
      .date {
        display: none;
      }
    }

    .transaction-list__item {
      gap: var(--spacing-xxl);
      & > *,
      &.tranasction-list__header {
        min-width: 88px;
      }
    }

    .transaction-list__header,
    .transaction-list__category,
    .transaction-list__date {
      @include fonts.textpreset5;
      color: variables.$grey-500;
    }

    .transaction-list__header:first-child {
      flex: 1;
    }

    .transaction-list__header:last-child {
      align-self: flex-end;
      text-align: end;
    }
  }
}
