@use "fonts";
@use "sass:map";
@use "variables";

.transactions {
  h1 {
    margin-bottom: var(--spacing-xxl);
  }

  .transaction-list__item > .transaction-list__category,
  .transaction-list__item > .transaction-list__date,
  .transaction-list__headers,
  .transaction-list__divider.first-divider {
    display: none;
  }

  .transaction-list__category {
    font-weight: 400;
  }

  .transaction-list__image-and-title {
    .text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }
  }
}

@media (min-width: 48rem) {
  .transactions {
    .transaction-list__item > .transaction-list__category,
    .transaction-list__item > .transaction-list__date,
    .transaction-list__headers,
    .transaction-list__divider.first-divider {
      display: flex;
    }

    .transaction-list__image-and-title {
      flex: 1;
      .transaction-list__category {
        display: none;
      }
    }

    .transaction-list__value-and-date {
      .date {
        display: none;
      }
    }

    .transaction-list__item {
      gap: var(--spacing-xxl);
      & > *,
      &.tranasction-list__header {
        min-width: 88px;
      }
    }

    .transaction-list__header,
    .transaction-list__category,
    .transaction-list__date {
      @include fonts.textpreset5;
      color: variables.$grey-500;
    }

    .transaction-list__header:first-child {
      flex: 1;
    }

    .transaction-list__header:last-child {
      align-self: flex-end;
      text-align: end;
    }
  }
}
