@use "variables";
@use "fonts";

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.accent-text {
  color: var(--accent-color);
}

.btn--primary {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
  }
}

.card {
  flex: 1;
  background-color: var(--card-bg);
  border-radius: var(--spacing-sm);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--card-padding);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
}

.dark-bg {
  background-color: variables.$grey-900;
  color: variables.$white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: variables.$grey-300;
  }
}

.large-text {
  @include fonts.textpreset1;
}

@media (min-width: 48rem) {
  .card-container {
    flex-direction: row;
    gap: var(--spacing-xxl);
  }
}
