<header class="dark-bg">
  <div class="container">
    <nav
      class="main-nav"
      aria-label="main"
    >
      <div class="logo">{% include "svgs/logo-large.svg" %}</div>
      <ul class="nav__list">
        {% for item in site.navigation %}
          <li class="nav__item {% if title === item.text %}active{% endif %}">
            <a href="{{ item.url | url }}">
              {% include item.img %}
              <span>{{ item.text }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="nav__buttons">
      <button
        href=""
        class="btn--tertiary"
      >
        {% include "svgs/icon-minimize-menu.svg" %}
        <span>Minimize Menu</span>
      </button>
    </div>
  </div>
</header>
